@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 176 51% 60%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 46% 11%;
    --foreground: 210 17% 93%;
    --card: 215 30% 18%;
    --card-foreground: 210 17% 93%;
    --popover: 215 46% 11%;
    --popover-foreground: 210 17% 93%;
    --primary: 145 63% 42%;
    --primary-foreground: 145 63% 95%;
    --secondary: 215 30% 18%;
    --secondary-foreground: 210 17% 93%;
    --muted: 215 30% 22%;
    --muted-foreground: 210 17% 75%;
    --accent: 176 51% 50%;
    --accent-foreground: 210 17% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 215 30% 22%;
    --input: 215 30% 22%;
    --ring: 145 63% 42%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
